# Assignment 8

Note: use appropriate labels, title and legend for each chart

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

## Q1.

In [6]:
pop_df=pd.read_csv('Population.csv')
pop_df.head()

,Year,Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density,Urban Pop %,Urban Population,Country's Share,World Population
0,1955,387700887,2.29%,8284413,19.7,5.91,130,18.60%,71958495,14.15%,2740213792
1,1960,435990338,2.38%,9657890,19.2,5.92,147,18.50%,80565723,14.46%,3015470894
2,1965,490140146,2.37%,10829962,18.5,5.94,165,19.10%,93493844,14.70%,3334533703
3,1970,545864268,2.18%,11144824,18.1,5.62,184,20.00%,109388950,14.77%,3694683794
4,1975,611309535,2.29%,13089053,18.4,5.20,206,21.70%,132533810,15.02%,4070735277

Draw line & bar charts to show urban and rural population of India over the years using population.csv [rural population is the difference between total population and urban population][For bar chart consider 8 yrs data]

## Q2.

Using gapminder.csv show life expectancy of top 10 highly populated countries from Asia

## Q3.

Using a pie chart show distribution of top six selling cars [Create data as required]

## Q4.

Using Histogram show distribution of developers by their experience [use survey_data_sample.csv]