### Dictionary

In [31]:
import pprint

In [47]:
weather_date={
    'Pune':[23,28],
    'Mumbai':[34,38],
    'Delhi':[21,35]
}
emp_details={
    'name':'John Doe',
    'age':28,
    'salary':50500,
    'skills':['Python','Django']
}

In [33]:
print('Pune' in weather_date)
print('Chennai' not in weather_date)

True
True

In [34]:
for key, value in weather_date.items():
    print(f'{key}:{value}')

Pune:[23, 28]
Mumbai:[34, 38]
Delhi:[21, 35]

In [35]:
for key in weather_date.keys():
    print(f'{key}')
print('-----------------------')
for key in weather_date.keys():
    print(f'{key}: {weather_date[key]}')

Pune
Mumbai
Delhi
-----------------------
Pune: [23, 28]
Mumbai: [34, 38]
Delhi: [21, 35]

In [36]:
for value in weather_date.values():
    print(f'{value}')

[23, 28]
[34, 38]
[21, 35]

### Dictionary Methods

In [37]:
emp_details['details']='IT'
emp_details

{'name': 'John Doe',
 'age': 28,
 'salary': 50500,
 'skills': ['Python', 'Django'],
 'details': 'IT'}

In [48]:
emp_details['skills'].append('Java')
print(emp_details)
emp_details['skills']='Java'
pprint.pprint(emp_details)

{'name': 'John Doe', 'age': 28, 'salary': 50500, 'skills': ['Python', 'Django', 'Java']}
{'age': 28, 'name': 'John Doe', 'salary': 50500, 'skills': 'Java'}

pop

In [49]:
emp_details.pop('age')

28

### Dictionary Comprehension

In [39]:
nums=[1,2,3,4,5,6,7,8,9,10]

sqs={num:num**2 for num in nums}
print(sqs)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [40]:
books=[['Book About Science',1],
       ['Book About Social Science',2],
       ['Book About Maths',3],
       ['Book About Hindi',4]]

title_length={item: len(item) for item,val in books if val>1}
title_length

{'Book About Social Science': 25,
 'Book About Maths': 16,
 'Book About Hindi': 16}

In [41]:
def cal_disc(price):
    return round(price*0.8,2)

In [42]:
import pprint


books=[['Book About Science',400],
       ['Book About Social Science',200],
       ['Book About Maths',500],
       ['Book About Hindi',300]]

discount_prices={key: cal_disc(price) for key, price in books}
pprint.pprint(discount_prices)

{'Book About Hindi': 240.0,
 'Book About Maths': 400.0,
 'Book About Science': 320.0,
 'Book About Social Science': 160.0}