### Lists

In [2]:
ls=['Apple', 'Banana', 'Tomato', 'Apple']

In [21]:
for i in ls:
    print(i)

Apple
Banana
Tomato
Apple

In [22]:
print('apple' in ls) 
print('Apple' in ls)

False
True

Indexing & Slicing

In [23]:
# ['Apple', 'Banana', 'Tomato', 'Apple']
print(ls[0:2])

['Apple', 'Banana']

In [24]:
# ['Apple', 'Banana', 'Tomato', 'Apple']
print(ls[-3:-1])

['Banana', 'Tomato']

In [25]:
# ['Apple', 'Banana', 'Tomato', 'Apple']
print(ls[::-1])

['Apple', 'Tomato', 'Banana', 'Apple']

In [26]:
print(ls[:1]+ls[1:])

['Apple', 'Banana', 'Tomato', 'Apple']

In [ ]:
ls.append('Pome') #void, ovewrite the original list
print(ls)

['Apple', 'Banana', 'Tomato', 'Apple', 'Pome']

In [41]:
ls.remove('Apple')
# ls.remove('apple') #ValueError: list.remove(x): x not in list

In [3]:
ls.append(['a','b'])
print(ls)

['Apple', 'Banana', 'Tomato', 'Apple', ['a', 'b']]

In [ ]:
ls.extend(['a','b']) #flattens the item and add them
print(ls)

reverse

In [38]:
ls.reverse()
print(ls)

['b', 'a', ['a', 'b'], 'Apple', 'Tomato', 'Banana']

sort

In [42]:
ls.sort()
print(ls)

['Apple', 'Banana', 'Tomato']

In [45]:
ls1=[]
for i in ls:
    if not isinstance(i, list):
        ls1.append(i)
    else:
        ls1.extend(i)
print(ls1)

KeyboardInterrupt:

## List Comprehension

In [46]:
ls=[1,2,3,4,5]

In [48]:
sq=[]
for i in ls:
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25]

In [50]:
sq=[n**2 for n in ls]
sq

[1, 4, 9, 16, 25]

In [52]:
sq_even=[n**2 for n in ls if n%2==0]
sq_even

[4, 16]

In [54]:
prices=[400,500,600,700]

In [79]:
def cal_discount(price):
    return round(price*0.8,2)

In [66]:
dis=[cal_discount(price) for price in prices]
dis

[320.0, 400.0, 480.0, 560.0]

In [ ]:
prices=[400,500,600,700]
dis=[cal_discount(price) for price in prices if price>=500] #not consider 400
dis

[400.0, 480.0, 560.0]

In [57]:
words=['a',['b','c'],'d']
words1=[]
words1=[word for word in words if not isinstance(word, list)]
words1

['a', 'd']

In [58]:
books=[['book1',1],['book2',2],['book3',3],['book4',4]]

for title, num in books:
    print(f'title: {title}, num: {num}')

title: book1, num: 1
title: book2, num: 2
title: book3, num: 3
title: book4, num: 4

In [75]:
for idx,val in enumerate(books):
    print(f'title: {val[0]}, num: {val[1]}')

title: book1, num: 1
title: book2, num: 2
title: book3, num: 3
title: book4, num: 4

In [80]:
val1=[cal_discount(val) for title,val in books]
val1

[0.8, 1.6, 2.4, 3.2]

In [82]:
val2=[cal_discount(book[1]) for book in books]
val2

[0.8, 1.6, 2.4, 3.2]

In [83]:
val3=[book[0] for book in books]
val3

['book1', 'book2', 'book3', 'book4']