Sets

In [4]:
fruits={'apple','banana','tomato','guava','apple'}
print(fruits)

{'apple', 'tomato', 'guava', 'banana'}

In [5]:
print('apple' in fruits)

True

In [6]:
for fruit in fruits:
    print(fruit)

apple
tomato
guava
banana

In [8]:
# for i in range(0,len(fruit)):
    # print(fruits[i])

In [ ]:
# Add an element to a set.
# This has no effect if the element is already present.
fruits.add('banana')
print(fruits.add('banana'))
fruits

None

{'apple', 'banana', 'guava', 'tomato'}

Remove vs discard

In [ ]:
'''Remove an element from a set; it must be a member.'''
fruits.remove() 

'''Remove an element from a set if it is a member.
Unlike set.remove(), the discard() method does not raise
an exception when an element is missing from the set.'''
fruits.discard()

update()

In [20]:
fruits.update({'banana','litchi'})
#Update the set, adding elements from all others
print(fruits)

# fruits.add({'banana','litchi'}) #TypeError: unhashable type: 'set'
# Add an element to a set.
# This has no effect if the element is already present.
print(fruits)

{'apple', 'tomato', 'banana', 'guava', 'litchi'}
{'apple', 'tomato', 'banana', 'guava', 'litchi'}

### Set Union ($\mathbf{A} \cup \mathbf{B}$)

The union contains **all elements** from all sets. If an element appears in multiple sets, it is only listed once.

| Method | Syntax |
| :--- | :--- |
| **Operator** | `set_A | set_B` |
| **Method** | `set_A.union(set_B)` |

In [22]:
union_set=fruits.union({'guava','orange'})
union_set
union_set=fruits| {'guava','orange'}
union_set

{'apple', 'banana', 'guava', 'litchi', 'orange', 'tomato'}

In [25]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Expected Result: {1, 2, 3, 4, 5}

result = set_a | set_b

print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Union (A | B): {result}")

Set A: {1, 2, 3}
Set B: {3, 4, 5}
Union (A | B): {1, 2, 3, 4, 5}

### Set Intersection ($\mathbf{A} \cap \mathbf{B}$)

The intersection contains only the elements that are **shared** by all sets. It finds the common items.

| Method | Syntax |
| :--- | :--- |
| **Operator** | `set_A & set_B` |
| **Method** | `set_A.intersection(set_B)` |

In [24]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Expected Result: {3, 4}

result = set_a & set_b

print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Intersection (A & B): {result}")

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}
Intersection (A & B): {3, 4}

### Symmetric Difference ($\mathbf{A} \Delta \mathbf{B}$)

The symmetric difference contains all elements **unique** to each set, excluding any shared elements. It's the **union minus the intersection**.

| Method | Syntax |
| :--- | :--- |
| **Operator** | `set_A ^ set_B` |
| **Method** | `set_A.symmetric_difference(set_B)` |

In [23]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Expected Result: {1, 2, 4, 5}

result = set_a ^ set_b

print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Symmetric Difference (A ^ B): {result}")

Set A: {1, 2, 3}
Set B: {3, 4, 5}
Symmetric Difference (A ^ B): {1, 2, 4, 5}

### Cities Question

In [27]:
populated_cities={"Mumbai", "Delhi", "Bangalore", "Hyderabad", "Ahmedabad", "Chennai", "Kolkata", "Pune"}
polluted_cities= {"Delhi", "Ghaziabad", "Gurgaon", "Noida","Kolkata", "Faridabad", "Ahmedabad"}

Q1. Which cities are polluted but NOT populated?

In [35]:
print(polluted_cities-populated_cities)
print(polluted_cities.difference(populated_cities))

{'Faridabad', 'Noida', 'Ghaziabad', 'Gurgaon'}
{'Faridabad', 'Noida', 'Ghaziabad', 'Gurgaon'}

Q2. Which cities are both populated AND polluted?

In [36]:
print(populated_cities&polluted_cities)
print(populated_cities.intersection(polluted_cities))

{'Delhi', 'Kolkata', 'Ahmedabad'}
{'Delhi', 'Kolkata', 'Ahmedabad'}

Q3. What is the total unique list of cities mentioned?

In [38]:
print(polluted_cities.union(populated_cities))
print(polluted_cities|populated_cities)

{'Faridabad', 'Hyderabad', 'Chennai', 'Ghaziabad', 'Ahmedabad', 'Kolkata', 'Pune', 'Mumbai', 'Gurgaon', 'Bangalore', 'Noida', 'Delhi'}
{'Faridabad', 'Hyderabad', 'Chennai', 'Ghaziabad', 'Ahmedabad', 'Kolkata', 'Pune', 'Mumbai', 'Gurgaon', 'Bangalore', 'Noida', 'Delhi'}