## String

In [1]:
s="CDAC is an institute in Pune"

### indexing & slicing

In [30]:
s1=s[:4]
s2=s[4:]
print(s1)
print(s2)
print(s1+s2)

CDAC
 is an institute in Pune
CDAC is an institute in Pune

in & not in

In [10]:
print(s1 in s)
print(s2 not in s)
print('python' not in s)

True
False
True

In [24]:
s1=s[-4:]
print(s1)

Pune

In [28]:
print(s[-4::-2])
print(s[4:10:-2])
print(s[::-2])
print(s[::-1])

Pn tttn as AC

eu ieuisin iCD
enuP ni etutitsni na si CADC

In [31]:
s='Apple is red.'

In [32]:
print(s.isalpha())

False

In [43]:
s3='12.34'

In [44]:
print(s3.isdecimal())

False

In [46]:
s4='124'
print(s4.isnumeric())

True

In [47]:
s5='s124'
print(s5.isalnum())

True

In [49]:
print('s124'.isprintable())

True

### char conversion

In [54]:
print('Hello there'.lower())
print('Hello there'.upper())
print('Hello there'.title())
print('Hello there'.capitalize())
print('Hello there'.swapcase())

hello there
HELLO THERE
Hello There
Hello there
hELLO THERE

### other conversions

In [58]:
s3='p1 p2 p3 p4'
words=s3.split(' ')
words

['p1', 'p2', 'p3', 'p4']

In [64]:
fruits='apple, banana, pome'
fruits1=fruits.split(' ')
print(fruits1)

['apple,', 'banana,', 'pome']

In [63]:
print(fruits.count('an')) #banana

2

In [67]:
print(' '.join(fruits1))

apple, banana, pome

In [71]:
print(fruits.partition('nana'))
print(len(fruits.partition('nana')))

('apple, ba', 'nana', ', pome')
3

value error

In [73]:
# a=int('as')
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# Cell In[72], line 1
# ----> 1 a=int('as')

# ValueError: invalid literal for int() with base 10: 'as'