SQLite3 DB Connection

In [35]:
import sqlite3
from sqlite3 import Error

In [36]:
def connect_db(path):
    conn=None
    try:
        conn=sqlite3.connect(path)
        print('Connection Successful')
    except Error as er:
        print(er)
    return conn

In [37]:
def execute_query(conn, query):
    try:
        cursor=conn.cursor()
        cursor.execute(query)
        print("Query executed successfully")
        conn.commit()
    except Error as er:
        print(er)

In [56]:
def execute_read_query(conn, query):
    try:
        cursor=conn.cursor()
        cursor.execute(query)
        results=cursor.fetchall()
        print(results)
    except Error as er:
        print(er)
    return results

In [57]:
def close_connection(conn):
    try:
        if conn:
            conn.close()
            print("Connection Closed")
    except Error as er:
        print(er)

In [58]:
def create_table(conn, create_table_sql):
    """
    Creates a table using the provided SQL statement.
    Uses the pre-defined execute_query function.
    """
    if conn is not None:
        execute_query(conn, create_table_sql)
    else:
        print("Error! Cannot create table: Database connection is None.")

In [66]:
def delete_records(conn, table_name):
    """
    Deletes all records from the specified table.
    """
    if conn is not None:
        delete_sql = f"DELETE FROM {table_name};"
        execute_query(conn, delete_sql)
        print(f"All records deleted from {table_name}.")
    else:
        print("Error! Cannot delete records: Database connection is None.")

In [59]:
create_projects_table = """
CREATE TABLE IF NOT EXISTS projects (
    id integer PRIMARY KEY,
    name text NOT NULL,
    start_date text,
    end_date text
);
"""

In [60]:
read_projects_table='''
select * from projects;
'''

In [61]:
db_path="Class\\10-10\\SQLiteDB.ipynb"

In [62]:
# 1. Connect
db_path = "my_database.db"
conn = connect_db(db_path) 

# 2. Create Table
if conn:
    create_table(conn, create_projects_table)
    print("Projects table check complete.")

# 3. Close
if conn:
    close_connection(conn)

Connection Successful
Query executed successfully
Projects table check complete.
Connection Closed

In [63]:
def insert_data(conn, insert_sql):
    """
    Executes an INSERT statement to add a new row to a table.
    """
    if conn is not None:
        execute_query(conn, insert_sql)
    else:
        print("Error! Cannot insert data: Database connection is None.")

In [64]:
insert_project = """
INSERT INTO projects (name, start_date, end_date)
VALUES ('E-commerce Site Launch', '2025-01-10', '2025-05-30');
"""

In [68]:
conn=connect_db(db_path)
delete_records(conn, 'projects')

Connection Successful
Query executed successfully
All records deleted from projects.

In [69]:
# Ensure 'conn' is an active connection from connect_db(path)
conn=connect_db(db_path)
if conn:
    insert_data(conn, insert_project)
    execute_read_query(conn,read_projects_table)

Connection Successful
Query executed successfully
[(1, 'E-commerce Site Launch', '2025-01-10', '2025-05-30')]