# Assignment 7- DataFrame

In [1]:
import pandas as pd

Q1. Create a DataFrame containing student information like Name, Age, Department, %Marks

In [20]:
df=pd.DataFrame({'Name':['Rohit','Sunil','Sujita'],
                 'Age':[21,25,31],
                 'Department':['CSE','Civil','Mech'],
                 'Marks':[91,89,92]})
print(df)

     Name  Age Department  Marks
0   Rohit   21        CSE     91
1   Sunil   25      Civil     89
2  Sujita   31       Mech     92

a.Display column names of the DF

In [19]:
print(df.loc[:-1,:])
print(df.columns)

Empty DataFrame
Columns: [Name, Age, Department, Marks]
Index: []
Index(['Name', 'Age', 'Department', 'Marks'], dtype='object')

 b.Show min/max and average marks

In [34]:
print("Min Marks: ",df.Marks.min())
print("Max Marks: ",df.Marks.max())
print("Avg Marks: ",df.Marks.mean())
print('\nagg()')
print(df.Marks.agg(['min','max','mean']))

Min Marks:  89
Max Marks:  92
Avg Marks:  90.66666666666667

agg()
min     89.000000
max     92.000000
mean    90.666667
Name: Marks, dtype: float64

c.Get unique values and student count for each Department

In [45]:
print('Unique values:',df['Department'].unique())
print('\n',df['Department'].value_counts())

Unique values: ['CSE' 'Civil' 'Mech']

 Department
CSE      1
Civil    1
Mech     1
Name: count, dtype: int64

## Q2. Read csv file solar.csv

a. Display all the plants with capacity > 500 MW

b. Display plant details for New York plant

c. For all the plants display Average MW Per Plant and Generation (GWh)

d. Sort the plants by Generation (GWh) (ascending) and Installed Capacity (MW)(descending)

e. List top 5 plants for their Generation

f. Display all plant details for states – California, Nevada, Arizona and Texas

g. Group the plants by region, find – min/max capacity plant for each group

h. Add following information to the existing details for the plants

| | | | | | |
| :--- | :--- | :--- | :--- | :--- | :--- |
| **North Carolina** | 148 | 669 | 4.5 | 1162 | North |

## Advanced --------------------------------------

Q.3 Read csv gapminder2007.csv

a.Display data for all Asian countries

b.Display top and bottom 15 rows

c.Show all the rows where life expectancy is more than 50 years and less than 80 years

d.Show data for India, America and France

e.Show data for all countries where name starts with ‘A’

f.Show min/max and mean GDP and Population for each continent

g.Show population and life expectancy for all countries

h.Sort the data by country names (ascending) and GDP (descending)

i.Find top 20 most populous countries

j.Delete all rows for a specific country

k.Change all column names to title case

l.Change column names: pop to Population, gdpPercap to GDP_Percap

m.Increase Life Expectancy by 2 years for all African countries

n.Find all the rows that contain NA values

o.Fill NA values with 0 for numeric columns